<nav class="round">
  <ul>
    <% if signed_in? %>
      <% @user.navigation.each do |i| %>
      <li><%= i.to_s %>
      <% end %>
    <% else %>
      <li><%= link_to "Demo", demo_path %></li>
    <% end %>
  </ul>